# Build outputs
/build/
/.xmake/
/.objs/

# Binaries and archives
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.a
*.lib
*.lo
*.la
*.o
*.obj
*.pch
*.pdb

# Temporary files
*.log
*.tmp
*.swp
*.swo
*.cache

# IDE/OS files
.DS_Store
.idea/
/.idea/
.vscode/
.vs/
